<!DOCTYPE html>
<html>
    <head>
        <title>insert</title>
        <style>
            *
            {
                background-color: aquamarine;
                padding: 10px;
            }
            .btn
            {
                background-color:darkkhaki;
            }
        </style>
    </head>
    <body>
        <form action="/read" method="post">
            <input name="id" placeholder="enter id">
            <input name="name" placeholder="enter name">
            <input name="mobile" placeholder="enter mobile number">
            <input class="btn" type="submit">
        </form>
    </body>
</html>