<!DOCTYPE html>
<html>
    <head>
        <title>insert</title>
        <style>
            *
            {
                background-color: aquamarine;
                padding: 10px;
            }
            .btn
            {
                background-color:darkkhaki;
            }
        </style>
    </head>
    <body>
        <form action="/update/{{data.id}}" method="post">
            <input name="id" placeholder="enter id" value={{data.id}}>
            <input name="name" placeholder="enter name" value={{data.name}}>
            <input name="mobile" placeholder="enter mobile number" value={{data.mobile}}>
            <input class="btn" type="submit">
        </form>
    </body>
</html>